* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(54,56,53);
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1,4fr);
    grid-template-rows: repeat(4,minmax(200px, 1fr));
}

ul,
li {
    font-size: 16px;
    list-style-type: none;
}

.header {
    grid-column: 2 / span 4;
    background-color: rgb(30,30,31);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
}

.top-right {
    justify-self: center;
    margin-top: 24px;
}

.bottom-left {
    margin-left: 4em;
}

.bottom-right {
    justify-self: center;
}

.bottom-right button {
    background-color: rgb(54, 146, 203);
    border: none;
    padding: 8px 32px;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px;
}

.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 24px;
    margin-left: 128px;
    font-size: 16px;
    width: 600px;
    border-radius: 24px;
  }

.sidebar {
    grid-row: 1 / span 4;
    background-color: rgb(54, 146, 203);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
}

.sidebar > ul h2 {
    margin-top: 16px;
    margin-bottom: 24px;
}

.sidebar > ul li {
    font-size: 24px;
    padding: 8px;
}

.main-content {
    background-color: rgb(54, 56, 53);
    grid-row: 2 / span 4;
    grid-column: 2/ span 4;
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(1,36px) repeat(1,1fr);
    column-gap: 32px;
}

.main-content h2 {
    margin-top: 4px;
    margin-left: 28px;
}

.main-content > .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(125px, 1fr));
    gap: 32px;
    margin-left: 2em;
}


.card {
    height: 200px;
    background-color: rgb(70, 70, 70);
    border-radius: 24px;
    padding: 24px;
}

.card .title {
    margin-bottom: 8px;
    font-weight: bold;
}

.right-side {
    display:grid;
    grid-template-rows: repeat(1, 1fr) repeat(1,36px) repeat(1,1fr);
}

.right-side .announcement {
    background-color: rgb(70, 70, 70);
    border-radius: 24px;
    display: grid;
}

.announcement > div {
    padding: 16px 16px 0 16px;
    font-weight: bold;
}

.announcement p {
    padding: 8px 16px 40px 16px;
}


.right-side .trending {
    background-color: rgb(70, 70, 70);
    border-radius: 24px;
    display: grid;
}

.trending > div {
    margin-top: 16px;
    margin-left: 200px;
}